<h1>Productos</h1>
<ul>
{{#each products}}
  <li>
    <h2>Title: {{this.title}}</h2>
    <p>Description: {{!-- {{this.description}} --}}</p>
    <p>Price: {{!-- {{this.price}} --}}</p>
    <p>Category: {{!-- {{this.category}} --}}</p>
    {{!-- {{#if ../cartId}}
    <form method="POST" action="/api/carts/{{../cartId}}/{{this._id}}">
      <input type="hidden" name="product_id" value="{{_id}}">
      <button type="submit">Add to cart</button>
    </form>
    {{/if}} --}}
  </li>
{{/each}}
</ul>

<div>
  {{#if prevLink}}
  <a href="{{prevLink}}">Prev</a>
  {{/if}}
  {{#if nextLink}}
  <a href="{{nextLink}}">Next</a>
  {{/if}}
</div>
